@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*
background-color: #efe8d7, #F4C4C4, #DEB873, #D2D2D2,
color: #002a5a, #282b29, #7d2222, #1d8883
font-family: 'Open Sans', sans-serif;
*/

@font-face {
    font-family: "athene";
    src: url(../font/Athene.otf);
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    color: #002a5a;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #002a5a;
    padding: 10px;
    font-size: 1.3rem;
    z-index: 1;
}

nav p:nth-of-type(1){
    display: inline-block;
    margin: 0 0 0 180px;
}

nav p:nth-of-type(2){
    display: inline-block;
    margin:  0 200px 0 1220px;
}

/* Sections */
h1, h2{
    font-family: "athene";
    font-weight: 550;
    margin: 0 auto;
    padding: 0;
}

h1{
    font-size: 13rem;
}

section{
    padding: 50px 0;
}

section:not(:first-of-type) h1{
    line-height: 16rem;
}

.counter{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 80px 140px 70px;
}

.right{
    text-align: right;
}

section>p:nth-of-type(2){
    line-height: 2em;
}

/* Section 1 */
section:nth-of-type(1){
    background: #efe8d7;
    color: #002a5a;
    padding-top: 120px;
}

section:nth-of-type(1) h1{
    width: 1500px;
    text-align: center;
    border-bottom: 2px solid #002a5a;
}

section:nth-of-type(1) div{
    width: 550px;
    margin: 65px auto 150px;
}

section:nth-of-type(1) div img{
    width: 550px;
}

section:nth-of-type(1) p{
    margin: 40px 0 0;
    font-size: 2em;
}

section:nth-of-type(1) p span{
    font-family: "athene";
}

/* Section 2 */
section:nth-of-type(2){
    background: #F4C4C4;
    color: #282b29;
}

section:nth-of-type(2) p:nth-of-type(2){
    width: 740px;
    margin: 30px 140px 50px auto;
    font-size: 1.5rem;
}

/* Section 2 - Tabelle */
table{
    width: 820px;
    margin: 155px 140px 50px auto;
}

caption, th, td {
    border-bottom: 1px solid black;
}

caption{
    text-align: right;
    font-size: 1.4rem;
    font-weight: 700;
}
    
th, td{
    padding: 40px 0;
}

td.tab-left{
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    min-width: 10px;

}

th{
    text-align: left;
    font-size: 1.7rem;
}

td.tab-right{
    text-align: right;
    font-size: 1.1rem;
    font-weight: 600;
    width: 50px;
}

/* Section 2 - Bild */
table+div{
    height: 160px;
    width: 160px;
    background: url(../img/letswork.svg);
    margin: 150px 140px 100px auto;
}

/* Section 3 */
section:nth-of-type(3){
    background: #DEB873;
    color: #7d2222;
}

section:nth-of-type(3) h2{
    font-size: 5.8rem;
}

section:nth-of-type(3) p:nth-of-type(2){
    width: 850px;
    margin: 0 auto 0 100px;
    font-size: 1.5rem;
}

/* Bilder */
section:nth-of-type(3) article div{
    height: 570px;
    margin: 300px 100px;
}

.bg1{
    background: url(../img/bg-marconatto-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
}

.bg2{
    background: url(../img/kathe_cover-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
}

.bg3{
    background: url(../img/bg-nicole-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;  
    text-align: left;
}

.bg4{
    background: url(../img/boa_cover-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
}

/* Section 4 */
section:nth-of-type(4){
    background: #D2D2D2;
    color: #1d8883;
    position: relative;
}

section:nth-of-type(4) p:nth-of-type(2){
    width: 680px;
    margin: 0 auto 120px;
    font-size: 2rem;
    line-height: 3.8rem;
}

section:nth-of-type(4) ul{
    list-style-type: none;
    font-size: 2rem;
    line-height: 3.8rem;
    text-align: right;
    margin: 0 120px 50px;
}

section:nth-of-type(4) a{
    color: #1d8883;
    text-decoration: none;
}

section:nth-of-type(4) a:hover{
    color: #1d888388;
    text-decoration: underline;
}

